<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AJAX - GitHub API</title>
	<link rel="stylesheet" href="libs/bootstrap.min.css">
	<link rel="stylesheet" href="dist/css/main.css">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
	    	<div id="githubUser" class="navbar-header hidden">
	    		<a id="githubLink" class="navbar-brand avatar__link" href="#" target="_blank">
	        		<img id="githubAvatar" class="avatar__img" alt="Avatar" src="">
	      		</a>
	      		<span id="githubName" class="avatar__name">Vofus</span>
	    	</div>
			<form class="navbar-form navbar-right">
				<div class="form-group">
			    	<input id="loginField" type="text" class="form-control" placeholder="Login">
				</div>
				<div class="form-group">
			    	<input id="passField" type="password" class="form-control" placeholder="Password">
				</div>
				<button id="signInBtn" type="submit" class="btn btn-default">Sign in</button>
				<button id="signOutBtn" type="submit" class="btn btn-default hidden">Sign out</button>
			</form>
	  	</div>
	</nav>
	<div class="container">
		<div class="row">
			<h2 class="header-app text-center">Создание приложения с помощью GitHub API</h2>

			<div class="col-app col-md-5 col-md-offset-1">
				<div class="search form-group">
				    <label for="liveSearch">Live search GitHub repos</label>
				    <input type="email" class="form-control" id="liveSearch" placeholder="Begin type text...">
				</div>
				<div id="resultSearch"></div>
			</div><!-- //.col-app -->

			<div class="col-app col-md-5">
				<form id="newGistForm">
					<div class="form-group">
						<label for="gistName">Name of your Gist file</label>
						<input type="text" class="form-control" id="gistName" placeholder="example: file.txt">
					</div>
					<div class="form-group">
						<label for="gistBody">Content of your Gist file</label>
						<textarea class="form-control" id="gistBody" rows="10" cols="45" placeholder="Type your Gist..."></textarea>
					</div>
					<div class="form-group clearfix">
						<div class="col-md-offset-4 col-md-4">
					    	<button type="submit" class="btn btn-default gist__submit-btn" id="gistSubmitBtn">Create Gist</button>
					    </div>
					</div>
					<div class="form-group text-center text-overflow" id="newGistResult"></div>
				</form>
			</div><!-- //.col-app -->
		</div><!-- //.row -->
	</div><!-- //.container -->
	
	<!-- Begin Templates -->
	<script id="searchResultTemplate" type="text/template">
		<% _.forEach(items, function(item) { %>
		<dl class="dl-horizontal">
		  <dt>Full name:</dt>
		  <dd class="text-overflow"><%-item.full_name%></dd>
		  <dt>Description:</dt>
		  <dd class="text-overflow"><%-item.description%></dd>
		  <dt>Language:</dt>
		  <dd class="text-overflow"><%-item.language%></dd>
		  <dt>Link:</dt>
		  <dd class="text-overflow"><a href="<%-item.html_url%>" target="_blank"><%-item.html_url%></a></dd>
		</dl>
		<% }); %>
	</script>
	<script id="gistLinkTemplate" type="text/template">
		<% _.forEach(items, function(item) { %>
		<dl class="dl-horizontal">
		  <dt><%-item.name%>:</dt>
		  <dd class="text-overflow"><a href="<%-item.url%>" target="_blank"><%-item.url%></a></dd>
		</dl>
		<% }); %>
	</script>
	<!-- End Templates -->
	
	<script src="libs/lodash.lib.js"></script>
	<script src="dist/js/main.es5.js"></script>
</body>
</html>